<p>Login</p>
<form action="/admin/dnprocess" method="post">
  <p><input type="text" name="email" id="'" /></p>
  <p><input type="password" name="password" id="" /> </p>
  <p><button>Login</button></p>
</form>
<p style="color: red;">{{msg}}</p>